body {
-ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
    padding-top: 65px;
}

#footer-bottom{
    padding: 15px 0 3px 0;
    margin: 0;
}

ul.social-icons {
    list-style-type: none;
}

ul.social-icons li {
    float: right;
    padding: 5px 10px;
}

ul.social-icons li a {
   transition:color 1s ease-in;
	display: block;
    text-decoration: none;
}

ul.social-icons li a .text-muted {
   -webkit-transition:color 0.5s ease-in;
   -moz-transition:color 0.5s ease-in;
   -o-transition:color 0.5s ease-in;
}

ul.social-icons li a:hover .text-muted {
    color: #444;
}

ul.social-icons li:active a{
    color: #ff0000;
}

ul#udssl-tweets{
    list-style-type: none;
    padding: 0;
}

ul.contact{
    list-style-type: none;
    padding: 0;
}

li.udssl-single-tweet{
    padding-bottom: 10px;
}

.site-title{
    text-align: right;
    float: right;
}

.img-centered{
    margin: 0 auto;
    margin-bottom: 10px;
}

p {
    text-align:justify;
}

pre.prettyprint{
    width: auto;
    overflow: auto;
    max-height: 600px
}

a.read-more{
    text-decoration: none;
}

.footer-box{
    padding: 0 15px 15px;
    margin-bottom: 5px;
}

/**
 * Navbar Shadow
 */
.nnavbar-shadow{
  -moz-box-shadow:    3px 3px 15px 6px #ccc;
  -webkit-box-shadow: 3px 3px 15px 6px #ccc;
  box-shadow:         3px 3px 15px 6px #ccc;
}

/**
 * Scroll to Top
 */
#back-top {
	position: fixed;
	bottom: -16px;
    right: 10px;
}

#back-top a {
	width: 50px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}

/* arrow icon (span tag) */
#back-top span {
	width: 50px;
	height: 50px;
	display: block;
	margin-bottom: 7px;
	background: #ddd url(../assets/up-arrow.png) no-repeat center center;

	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 5px;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}

#back-top{
	display: none;
}

#back-top a:hover span {
	background-color: #777;
}

/**
 * Custom Search
 */
.gsc-selected-option-container{
    max-width: 100% !important;
}

.gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top {
    padding-left: 0 !important;
}

.cse .gsc-control-cse, .gsc-control-cse {
    padding: 0 !important;
}

a#time-tracker-home{
    text-decoration: none;
}

#now-reading-home-button{
    color: #ccc;
}
